
/*!**
 * Heading:
 *
 */

/*!*
* Заголовок:
* `.c-heading` —  Базовый класс.
*
* `.c-heading_level_{1-6}` — Задает стиль уровня заголовка.
*
* `.c-heading_first` — Убирает верхний отступ заголовка.
*
*
*		@example.padded
*		.c-heading.c-heading_level_1.c-heading_first Заголовок 1 уровня без верхнего отступа
*		.c-heading.c-heading_level_1 Заголовок 1 уровня
*		.c-heading.c-heading_level_2 Заголовок 2 уровня
*		.c-heading.c-heading_level_3 Заголовок 3 уровня
*		.c-heading.c-heading_level_4 Заголовок 4 уровня
*		.c-heading.c-heading_level_5 Заголовок 5 уровня
*		.c-heading.c-heading_level_6 Заголовок 6 уровня
*
*/

.c-heading
  margin: 1.2em 0 .5em
  font-weight: 700
  line-height: 1.2

.c-heading_level_1
  font-size: 2.6em

.c-heading_level_2
  font-size: 2.3em

.c-heading_level_3
  font-size: 2em

.c-heading_level_4
  font-size: 1.8em

.c-heading_level_5
  font-size: 1.4em

.c-heading_level_6
  font-size: 1.2em

.c-heading_first
  margin-top: 0
