
mixin footer(page)
  -
    var page = page || 'index'
    var data = {
      index: {
        menu: [
          {
            title: 'Главная',
            link: 'home',
            active: true
          },
          {
            title: 'О нас',
            link: 'about'
          },
          {
            title: 'Каталог',
            link: 'catalog'
          },
          {
            title: 'Контакты',
            link: 'contacts'
          }
        ]
      }
    }


  footer.m-footer
    .container: .row
      .col.w1
        ul.b-footer-menu
          each item in data[page].menu
            - var itemActiveClass = item.active ? 'b-footer-menu__item_active' : ''
            - var linkActiveClass = item.active ? 'b-footer-menu__link_active' : ''

            li.b-footer-menu__item(class=`${itemActiveClass}`)
              a.b-footer-menu__link(href=`/${item.link}` class=`${linkActiveClass}`) #{item.title}
