
mixin footer(data)
    footer.m-footer
        .container: .row
            .col.w1
                ul.m-footer-menu
                    li.m-footer-menu__item: a.m-footer-menu__link(href="")
                    li.m-footer-menu__item.m-footer-menu__item_active: a.m-footer-menu__link.m-footer-menu__link_active(href="")
                    li.m-footer-menu__item: a.m-footer-menu__link(href="")
                    li.m-footer-menu__item: a.m-footer-menu__link(href="")
