
/*!**
 * Popup:
 *
 */

/*!*
 * Всплывающее окно (попап):
 * `.c-popup__outer` — Вешается на html и body, чтобы убрать скролл.
 *
 * `.c-popup` — Стандартная обертка попапа.
 *
 * `.c-popup_show` — Модификатор видимого попапа.
 *
 * `.c-popup__shadow` — Элемент подложки под попап (затемнение фона).
 *
 * `.c-popup__inner` — Элемент обертка для центрирования .c-popup__content.
 *
 * `.c-popup__content` — Элемент с содержимым попапа.
 *
 * `.c-popup__close` — Кнопка закрыть попап.
 *
 *
 *		@example.padded
 *		.c-btn.c-btn_color_blue.js-popup(data-popup=".shom-sm") Покажись маленький
 *		.c-btn.c-btn_color_blue.js-popup(data-popup=".shom-lg") Покажись большой
 *
 *		.g-hide.shom-sm
 *		    div(style="height:200px;background-color:#939DA3;") Маленький
 *
 *		.g-hide.shom-lg
 *		    div(style="height:1000px;background-color:#939DA3;") Большой
 *
 */

+media('max', sm)
    .c-popup__outer
        overflow: hidden

.c-popup__outer > body
    overflow: hidden

.c-popup
    fixed: top right bottom left
    z-index: 200
    visibility: hidden
    overflow: auto
    min-width: 320px
    transition: all .3s
    opacity: 0

.c-popup_show
    visibility: visible
    opacity: 1

.c-popup__shadow
    fixed: top right bottom left
    background: rgba($black, 90%)

.c-popup__inner
    display: flex
    align-items: center
    justify-content: center
    min-height: 100%
    padding: 20px 0

    +media('max', sm)
        align-items: stretch
        padding: 0

.c-popup__content
    relative: true
    flex: 0 0 auto
    width: 70%
    min-width: 320px
    max-width: 1000px
    padding: 15px
    transition: all .3s ease
    border-radius: auto
    background: $white
    box-shadow: 0 0 3px $black
    transform: translateY(-40px)

    +media('max', sm)
        width: 100%

        if $borderRadiusDefault != 0
            border-radius: 0

    .c-popup_show &
        transform: translateY(0px)


.c-popup__close
    absolute: top -13px right -13px
    size: 26px
    cursor: pointer
    text-align: center
    border-radius: 50%
    background: $white
    box-shadow: 0 0 3px $black

    +media('max', sm)
        top: 0
        right: 0
        size: 40px
        box-shadow: 0 0 0 -1px

    &::after
    &::before
        absolute: top 3px left 11px
        display: block
        size: 4px 20px
        content: ''
        border-radius: 3px
        background: $black

        +media('max', sm)
            size: 8px 36px

    &::before
        transform: rotate(-45deg)

    &::after
        transform: rotate(45deg)
