
/*!**
 * Popup:
 *
 */

/*!*
 * Всплывающее окно (попап):
 * `.b-popup__outer` — Вешается на html и body, чтобы убрать скролл.
 *
 * `.b-popup` — Стандартная обертка попапа.
 *
 * `.b-popup_show` — Модификатор видимого попапа.
 *
 * `.b-popup__shadow` — Элемент подложки под попап (затемнение фона).
 *
 * `.b-popup__inner` — Элемент обертка для центрирования .b-popup__content.
 *
 * `.b-popup__content` — Элемент с содержимым попапа.
 *
 * `.b-popup__close` — Кнопка закрыть попап.
 *
 *
 *		@example.padded
 *		.b-btn.b-btn_color_blue.js-popup(data-popup=".shom-sm") Покажись маленький
 *		.b-btn.b-btn_color_blue.js-popup(data-popup=".shom-lg") Покажись большой
 *
 *		.g-hide.shom-sm
 *		    div(style="height:200px;background-color:#939DA3;") Маленький
 *
 *		.g-hide.shom-lg
 *		    div(style="height:1000px;background-color:#939DA3;") Большой
 *
 */

+media('max', sm)
    .b-popup__outer
        overflow hidden

.b-popup__outer > body
    overflow hidden

.b-popup
    fixed 0
    z-index 200
    visibility hidden
    overflow auto
    min-width 320px
    opacity 0
    transition all .3s

.b-popup_show
    visibility visible
    opacity 1

.b-popup__shadow
    fixed 0
    background rgba($black, 90%)

.b-popup__inner
    display flex
    align-items center
    justify-content center
    padding 20px 0
    min-height 100%

    +media('max', sm)
        align-items stretch
        padding 0

.b-popup__content
    relative false
    flex 0 0 auto
    padding 15px
    min-width 320px
    max-width 1000px
    width 70%
    background $white
    box-shadow 0 0 3px $black
    transition all .3s ease
    transform translateY(-40px)
    border-radius()

    +media('max', sm)
        width 100%

        if $siteBorderRadius != 0
            border-radius 0

    .b-popup_show &
        transform translateY(0px)


.b-popup__close
    absolute -13px -13px false false
    size 26px
    border-radius 50%
    text-align center
    cursor pointer
    background $white
    box-shadow 0 0 3px $black

    +media('max', sm)
        top 0
        right 0
        size 40px
        box-shadow 0 0 0 -1px

    &::after
    &::before
        absolute 3px false false 11px
        display block
        size 4px 20px
        border-radius 3px
        content ''
        background $black

        +media('max', sm)
            size 8px 36px

    &::before
        transform rotate(-45deg)

    &::after
        transform rotate(45deg)
