/*
*
* Шапка сайта.
*
* .b-header							- Класс обертка всего блока.
*
* .b-header__logo-img				- Картинка-логотип.
*
* .b-header-menu						- Блок меню.
* .b-header-menu__item					- Пункт меню.
* .b-header-menu__item_active			- Активный пункт меню
* .b-header-menu__link					- Ссылка меню.
*
*/


.b-header
.b-header__logo-img
.b-header-menu
.b-header-menu__item
.b-header-menu__item_active
.b-header-menu__link
	background $white
