
footer.b-footer
	.container: .row
		.col.w7-12

		.col.w5-12
			ul.b-footer__menu
				li.b-footer__menu--item: a.b-footer__menu--link(href="")
				li.b-footer__menu--item.b-footer__menu--item_active: a.b-footer__menu--link.b-footer__menu--link_active(href="")
				li.b-footer__menu--item: a.b-footer__menu--link(href="")
				li.b-footer__menu--item: a.b-footer__menu--link(href="")
