
footer.b-footer
    .container: .row
        .col.w2

        .col.w2
            ul.b-footer-menu
                li.b-footer-menu__item: a.b-footer-menu__link(href="")
                li.b-footer-menu__item.b-footer-menu__item_active: a.b-footer-menu__link.b-footer-menu__link_active(href="")
                li.b-footer-menu__item: a.b-footer-menu__link(href="")
                li.b-footer-menu__item: a.b-footer-menu__link(href="")
