
header.b-header
	.container: .row
		.col.w3-12
			a(href="/"): img.b-header__logo-img(src="frontend/img/logo.png", alt="")
		.col.w9-12
			ul.b-header-menu
				li.b-header-menu__item: a.b-header-menu__link(href="")
				li.b-header-menu__item.b-header-menu__item_active: a.b-header-menu__link.b-header-menu__link_active(href="")
				li.b-header-menu__item: a.b-header-menu__link(href="")
				li.b-header-menu__item: a.b-header-menu__link(href="")
