
header.b-header
    .container: .row
        .col.w3
            a(href="/"): img.b-header__logo-img(src="frontend/img/logo.png", alt="")

        .col.w0
            ul.b-header__menu
                li.b-header__menu--item: a.b-header__menu--link(href="")
                li.b-header__menu--item.b-header__menu--item_active: a.b-header__menu--link.b-header__menu--link_active(href="")
                li.b-header__menu--item: a.b-header__menu--link(href="")
                li.b-header__menu--item: a.b-header__menu--link(href="")
