
/*@*
 * Core
 *
 */

@import 'core/color'
@import 'core/var'
@import 'core/mixin'
@import 'core/base'
@import 'core/global'
@import 'core/grid'



/*@*
 * Components
 *
 */

@import '../components/alert/alert'
@import '../components/alert/alert_color'

@import '../components/btn/btn'
@import '../components/btn/btn_color'
@import '../components/btn/btn_block'
@import '../components/btn/btn_size'
@import '../components/btn/btn__group'

@import '../components/form/form'
@import '../components/form/form__field'
@import '../components/form/form__checkbox'
@import '../components/form/form__radio'
@import '../components/form/form__append'

@import '../components/light-gallery/light-gallery'
@import '../components/pagination/pagination'
@import '../components/popup/popup'
@import '../components/scroll-top/scroll-top'
@import '../components/sticky-footer/sticky-footer'
@import '../components/table/table'
@import '../components/text/text'



/*@*
 * Blocks
 *
 */

@import '../blocks/header-logo/header-logo'
@import '../blocks/header-menu/header-menu'
@import '../blocks/footer-menu/footer-menu'



/*@*
 * Modules
 *
 */

@import '../modules/header/header'
@import '../modules/breadcrumbs/breadcrumbs'
@import '../modules/footer/footer'
