
h2.b-heading.b-heading_level_2 Нумерация страниц
ul.b-pagination
	li.b-pagination__item: span.b-pagination__disable(href="") Назад
	li.b-pagination__item: span.b-pagination__disable(href="") &lt;
	li.b-pagination__item: span.b-pagination__active 1
	li.b-pagination__item: a.b-pagination__link(href="") 2
	li.b-pagination__item: a.b-pagination__link(href="") 3
	li.b-pagination__item: a.b-pagination__link(href="") 4
	li.b-pagination__item: a.b-pagination__link(href="") 5
	li.b-pagination__item: span.b-pagination__divider
	li.b-pagination__item: a.b-pagination__link(href="") 6
	li.b-pagination__item: a.b-pagination__link(href="") 7
	li.b-pagination__item: a.b-pagination__link(href="") &gt;
	li.b-pagination__item: a.b-pagination__link(href="") Вперед
