/*
*
* Нумерация страниц.
*
* .b-pagination					- Обертка пагинации.
*
* .b-pagination__item			- Пункт пагинации.
*
* .b-pagination__divider		- Разделитель для пропуска пунктов.
* .b-pagination__active			- Активный элемент пункта пагинации.
* .b-pagination__disable		- Отключенный элемент пункта пагинации.
* .b-pagination__link			- Ссылка-элемент пункта пагинации.
*
*/


.b-pagination
	display flex
	list-style none
	justify-content flex-end
	// или
	// justify-content center
	// или
	// без justify-content
	padding 15px 0 30px


.b-pagination__item
	margin 3px

.b-pagination__divider
.b-pagination__active
.b-pagination__disable
.b-pagination__link
	padding 5px 10px
	display block

	if $site_border-radius != 0
		border-radius $site_border-radius

.b-pagination__divider
	&::after
		color $gray
		content "..."

.b-pagination__active
.b-pagination__disable
	background $gray
	color $white
	cursor default

.b-pagination__link
	background $blue
	color $white !important
	text-decoration none

	&:hover
	&:focus
		background lighten(@background, 40%)

	&:active
		background $red
