
/*!**
 * Pagination:
 *
 */

/*!*
 * Нумерация страниц:
 * `.c-pagination` — Обертка пагинации.
 *
 * `.c-pagination__item` — Пункт пагинации.
 *
 * `.c-pagination__link` — Ссылка-элемент.
 *
 * `.c-pagination__active` — Активный элемент.
 *
 * `.c-pagination__disable` — Отключенный элемент.
 *
 * `.c-pagination__divider` — Разделитель для пропуска пунктов.
 *
 *
 *     @example.padded
 *     ul.c-pagination
 *       li.c-pagination__item: span.c-pagination__disable Назад
 *       li.c-pagination__item: span.c-pagination__disable &lt;
 *       li.c-pagination__item: span.c-pagination__active 1
 *       li.c-pagination__item: a.c-pagination__link(href="") 2
 *       li.c-pagination__item: a.c-pagination__link(href="") 3
 *       li.c-pagination__item: a.c-pagination__link(href="") 4
 *       li.c-pagination__item: a.c-pagination__link(href="") 5
 *       li.c-pagination__item: span.c-pagination__divider
 *       li.c-pagination__item: a.c-pagination__link(href="") 9
 *       li.c-pagination__item: a.c-pagination__link(href="") 10
 *       li.c-pagination__item: a.c-pagination__link(href="") &gt;
 *       li.c-pagination__item: a.c-pagination__link(href="") Вперед
 *
 */

.c-pagination
  display: flex
  margin: rem(15px) 0 rem(30px)
  list-style: none
  justify-content: flex-end

.c-pagination__item
  margin: 0 3px 3px

.c-pagination__divider
.c-pagination__active
.c-pagination__disable
.c-pagination__link
  display: block
  padding: 5px 10px
  border-radius: auto

.c-pagination__divider
  &::after
    content: '...'
    color: $gray

.c-pagination__active
.c-pagination__disable
  cursor: default
  color: $white
  background: $gray

.c-pagination__link
  text-decoration: none
  color: $white !important
  background: $blue

  &:hover
  &:focus
    background: lighten(@background, 40%)

  &:active
    background: $red
