
//- # Global modules
include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer
include ../modules/scroll-top/scroll-top

//- # Local modules
//- block modules


doctype html
html(lang="ru-RU")
  head
    block head
      +head('index')

  body
    block header
      +header()

    block content
      section
        .container: .row
          .col.w1

    block footer
      +footer()

    +scroll-top()

    block scripts
      script window.jQuery||document.write('<script src="/frontend/js/lib/jquery.js?v=3.1.0"><\/script>');
      script(src="/frontend/js/hoppas.js")
