
/*!**
 * Btn:
 * Кнопки.
 *
 * `.c-btn` — Базовый класс без модификатора цвета не живет.
 *
 */

.c-btn
    display: inline-block
    margin: 5px 0
    padding: .5em 1.5em
    cursor: pointer
    user-select: none
    transition: all .2s
    vertical-align: bottom
    text-decoration: none
    color: $white
    border: 0
    border-radius: auto
    font-size: $siteFontSize
    font-weight: 700
