
/*!**
 * Btn:
 * Кнопки.
 *
 * `.b-btn` — Базовый класс без модификаторов не живет.
 *
 */

.b-btn
    display inline-block
    margin 5px 0
    padding .5em 1.5em
    border 0
    color $white
    vertical-align bottom
    text-decoration none
    font-weight 700
    font-size $site_font_size
    cursor pointer
    transition all .2s
    user-select none

    if $site_border-radius != 0
        border-radius $site_border-radius
