h2.b-heading.b-heading_level_2 Кнопки
h3.b-heading.b-heading_level_3 Плоские
.b-btn.b-btn_simple_blue.b-btn_size_lg Нажать
.b-btn.b-btn_simple_red.b-btn_size_sm Нажать
.b-btn.b-btn_simple_orange.b-btn_size_xs Нажать
.b-btn.b-btn_simple_yellow Нажать
.b-btn.b-btn_simple_green Нажать
.b-btn.b-btn_simple_purple Нажать
.b-btn.b-btn_simple_black Нажать
.b-btn.b-btn_simple_lightgrey Нажать

h3.b-heading.b-heading_level_3 Линии
.b-btn.b-btn_line_blue.b-btn_size_lg Нажать
.b-btn.b-btn_line_red.b-btn_size_sm Нажать
.b-btn.b-btn_line_orange.b-btn_size_xs Нажать
.b-btn.b-btn_line_yellow Нажать
.b-btn.b-btn_line_green Нажать
.b-btn.b-btn_line_purple Нажать
.b-btn.b-btn_line_black Нажать
.b-btn.b-btn_line_lightgrey Нажать

h3.b-heading.b-heading_level_3 3D кнопки
.b-btn.b-btn_3d_blue.b-btn_size_lg Нажать
.b-btn.b-btn_3d_red.b-btn_size_sm Нажать
.b-btn.b-btn_3d_orange.b-btn_size_xs Нажать
.b-btn.b-btn_3d_yellow Нажать
.b-btn.b-btn_3d_green Нажать
.b-btn.b-btn_3d_purple Нажать
.b-btn.b-btn_3d_black Нажать
.b-btn.b-btn_3d_lightgrey Нажать

h3.b-heading.b-heading_level_3 Группы кнопок
.b-btn__group
	.b-btn.b-btn_simple_black.b-btn_size_lg  Нажать
	.b-btn__group_divider
	.b-btn.b-btn_simple_lightgrey.b-btn_size_lg  Нажать
.b-btn__group
	.b-btn.b-btn_simple_purple.b-btn_size_sm Нажать
	.b-btn__group_divider
	.b-btn.b-btn_simple_blue.b-btn_size_sm Нажать
.b-btn__group
	.b-btn.b-btn_simple_green.b-btn_size_xs Нажать
	.b-btn__group_divider
	.b-btn.b-btn_simple_red.b-btn_size_xs Нажать
	.b-btn__group_divider
	.b-btn.b-btn_simple_yellow.b-btn_size_xs Нажать
.b-btn__group
	.b-btn.b-btn_3d_red Нажать
	.b-btn.b-btn_3d_green Нажать