/*
*
* Кнопки.
*
* .b-btn								- Полуфабрикат и без модификаторов не живет.
* .b-btn_block							- Делаем кнопку блочной.
*
* .b-btn_full_[$colors_btn]				- Задает стиль flat.
* .b-btn_3d_[$colors_btn]				- Задает стиль 3d.
* .b-btn_outline_[$colors_btn]			- Задает стиль outline.
*
* .b-btn_size_[xs, sm, lg]				- Модификаторы размеры кнопки.
*
* .b-btn__group							- Обертка группы кнопок.
*
*/


.b-btn
	display inline-block
	margin 5px 0
	padding .5em 1.5em
	border 0
	color $white
	vertical-align bottom
	text-decoration none
	font-weight 700
	font-size $site_font_size
	cursor pointer
	transition all .2s
	user-select none

	if $site_border-radius != 0
		border-radius $site_border-radius

.b-btn_block
	display block
	text-align center
