
.b-btn_3d
	for name, color in $colors_btn
		&_{name}
			background color

			if(color == #000)
				box-shadow 0 5px 0 0 lighten(color, 20%)
			else
				box-shadow 0 5px 0 0 darken(color, 20%)

			&:focus
			&:hover
				background lighten(color, 20%)

			&:active
				box-shadow 0 0 0 0 color
				margin-top 10px
				margin-bottom 0
