
/*!*
 * Size:
 * `.c-btn_size_lg` — Задает размер кнопки, как "большой".
 *
 * `.c-btn_size_sm` — Задает размер кнопки, как "меньше среднего".
 *
 * `.c-btn_size_xs` — Задает размер кнопки, как "маленький".
 *
 *
 *		@example.padded
 *		.c-btn.c-btn_color_red.c-btn_size_lg Нажать
 *		br
 *		.c-btn.c-btn_color_green.c-btn_size_sm Нажать
 *		br
 *		.c-btn.c-btn_color_blue.c-btn_size_xs Нажать
 *
 */

.c-btn_size
    &_xs
        font-size $siteFontSize - 30%

    &_sm
        font-size $siteFontSize - 20%

    &_lg
        font-size $siteFontSize + 20%
