
/*!*
 * Color:
 * `.c-btn_color_{name}` — Set color of the button.
 *
 *
 *     @example.padded
 *     .c-btn.c-btn_color_red Push me
 *     .c-btn.c-btn_color_green Push me
 *     .c-btn.c-btn_color_blue Push me
 *
 */

.c-btn_color
  for $name, $color in $color_btn
    &_{$name}
      background-color: $color[0]

      if $color[1]
        color: $color[1]

      &:focus
      &:hover
        background-color: lighten(@background-color, 20%)

      &:active
        background-color: lighten(@background-color, 40%)
