
/*!*
 * Size:
 * `.b-btn_size_lg` — Задает Большой размер кнопки.
 *
 * `.b-btn_size_sm` — Задает меньше среднего размер кнопки.
 *
 * `.b-btn_size_xs` — Задает маленький размер кнопки.
 *
 *
 *		@example.padded
 *		.b-btn.b-btn_full_red.b-btn_size_lg  Нажать
 *		.b-btn.b-btn_full_red Нажать
 *		.b-btn.b-btn_full_red.b-btn_size_sm Нажать
 *		.b-btn.b-btn_full_red.b-btn_size_xs  Нажать
 *		br
 *		.b-btn.b-btn_outline_green.b-btn_size_lg Нажать
 *		.b-btn.b-btn_outline_green Нажать
 *		.b-btn.b-btn_outline_green.b-btn_size_sm Нажать
 *		.b-btn.b-btn_outline_green.b-btn_size_xs Нажать
 *		br
 *		.b-btn.b-btn_3d_blue.b-btn_size_lg Нажать
 *		.b-btn.b-btn_3d_blue Нажать
 *		.b-btn.b-btn_3d_blue.b-btn_size_sm Нажать
 *		.b-btn.b-btn_3d_blue.b-btn_size_xs Нажать
 *
 */

.b-btn_size
    &_xs
        font-size $site_font_size - 30%

    &_sm
        font-size $site_font_size - 20%

    &_lg
        font-size $site_font_size + 20%
