
/*!*
 * Color:
 * `.c-btn_color_{name}` — Set color of the button.
 *
 *
 *     @example.padded
 *     .c-btn.c-btn_color_red Push me
 *     .c-btn.c-btn_color_green Push me
 *     .c-btn.c-btn_color_blue Push me
 *
 */

btn_color($name, $backgroundColor, $backgroundColorHover, $backgroundColorActive, $color = null)
  &_color_{$name}
    background-color: $backgroundColor

    if $color
      color: $color

    &:focus
    &:hover
      background-color: $backgroundColorHover

    &:active
      background-color: $backgroundColorActive


.c-btn
  btn_color('blue', $blue, lighten($blue, 20%), lighten($blue, 40%))
  btn_color('green', $green, lighten($green, 20%), lighten($green, 40%))
  btn_color('red', $red, lighten($red, 20%), lighten($red, 40%))
