
/*!*
 * Group:
 * `.c-btn__group` — Группирует кнопки.
 *
 *
 *		@example.padded
 *		.c-btn__group
 *			.c-btn.c-btn_color_red  Нажать
 *			.c-btn.c-btn_color_green Нажать
 *		.c-btn__group
 *			.c-btn.c-btn_color_green.c-btn_size_xs Нажать
 *			.c-btn.c-btn_color_blue.c-btn_size_xs Нажать
 *		.c-btn__group
 *			.c-btn.c-btn_color_red.c-btn_size_sm Нажать
 *			.c-btn.c-btn_color_green.c-btn_size_sm Нажать
 *			.c-btn.c-btn_color_blue.c-btn_size_sm Нажать
 *
 */

.c-btn__group
    relative()
    display: flex

.c-btn__group .c-btn
    if $borderRadiusDefault != 0
        border-radius: 0

    if $borderRadiusDefault != 0
        &:first-of-type
            border-radius: auto 0 0 auto

        &:last-of-type
            border-radius: 0 auto auto 0
