
/*!*
 * Group:
 * `.b-btn__group` — Группирует кнопки.
 *
 *
 *     @example.padded
 *		.b-btn__group
 *			.b-btn.b-btn_full_red  Нажать
 *			.b-btn.b-btn_full_green Нажать
 *		.b-btn__group
 *			.b-btn.b-btn_outline_green.b-btn_size_xs Нажать
 *			.b-btn.b-btn_outline_blue.b-btn_size_xs Нажать
 *		.b-btn__group
 *			.b-btn.b-btn_3d_red.b-btn_size_sm Нажать
 *			.b-btn.b-btn_3d_blue.b-btn_size_sm Нажать
 *
 */

.b-btn__group
	relative false
	display flex

.b-btn__group .b-btn
	if $site_border-radius != 0
		border-radius 0

	if $site_border-radius != 0
		&:first-of-type
			border-radius $site_border-radius 0 0 $site_border-radius

		&:last-of-type
			border-radius 0 $site_border-radius $site_border-radius 0
