
/*!*
 * Color:
 * `.c-btn_color_{$color_btn}` — Задает цвет кнопки.
 *
 *
 *		@example.padded
 *		.c-btn.c-btn_color_red Нажать
 *		.c-btn.c-btn_color_green Нажать
 *		.c-btn.c-btn_color_blue Нажать
 *
 */

.c-btn_color
    for name, color in $color_btn
        &_{name}
            background-color color[0]

            if color[1]
                color color[1]

            &:focus
            &:hover
                background-color lighten(@background-color, 20%)

            &:active
                background-color lighten(@background-color, 40%)
