
.b-btn__divider
	absolute false
	height 100%

	&::after
		content ""
		absolute 0 false 0 -10px
		z-index 5
		margin auto
		background $gray
		border-radius 50%
		font-weight 100
		size 18px
		border 2px solid $white
