
/*!*
 * Block:
 * `.b-btn_block` — Делаем кнопку блочной.
 *
 *
 *		@example.padded
 *		.b-btn.b-btn_full_red.b-btn_block Нажать
 *		br
 *		.b-btn.b-btn_outline_green.b-btn_block Нажать
 *		br
 *		.b-btn.b-btn_3d_blue.b-btn_block Нажать
 *
 */

.b-btn_block
    display block
    width 100%
    text-align center
