
/*!*
 * Block:
 * `.c-btn_block` — Делаем кнопку блочной.
 *
 *
 *		@example.padded
 *		.c-btn.c-btn_color_blue.c-btn_block Нажать

 *
 */

.c-btn_block
    display block
    width 100%
    text-align center
