
/*!*
 * Size:
 * `.b-btn_size_lg` — Задает размер кнопки, как "большой".
 *
 * `.b-btn_size_sm` — Задает размер кнопки, как "меньше среднего".
 *
 * `.b-btn_size_xs` — Задает размер кнопки, как "маленький".
 *
 *
 *		@example.padded
 *		.b-btn.b-btn_color_red.b-btn_size_lg Нажать
 *		br
 *		.b-btn.b-btn_color_green.b-btn_size_sm Нажать
 *		br
 *		.b-btn.b-btn_color_blue.b-btn_size_xs Нажать
 *
 */

.b-btn_size
    &_xs
        font-size $site_font_size - 30%

    &_sm
        font-size $site_font_size - 20%

    &_lg
        font-size $site_font_size + 20%
