
/*!*
 * Style — full:
 * `.b-btn_full_{$colors_btn}` — Задает стиль flat.
 *
 *
 *     @example.padded
 *		.b-btn.b-btn_full_red Нажать
 *		.b-btn.b-btn_full_green Нажать
 *		.b-btn.b-btn_full_blue Нажать
 *
 */

.b-btn_full
	for name, color in $colors_btn
		&_{name}
			background-color color

			&:focus
			&:hover
				background-color lighten(color, 20%)

			&:active
				background-color lighten(color, 40%)
