
/*!*
 * Group:
 * `.b-btn__group` — Группирует кнопки.
 *
 *
 *		@example.padded
 *		.b-btn__group
 *			.b-btn.b-btn_color_red  Нажать
 *			.b-btn.b-btn_color_green Нажать
 *		.b-btn__group
 *			.b-btn.b-btn_color_green.b-btn_size_xs Нажать
 *			.b-btn.b-btn_color_blue.b-btn_size_xs Нажать
 *		.b-btn__group
 *			.b-btn.b-btn_color_red.b-btn_size_sm Нажать
 *			.b-btn.b-btn_color_green.b-btn_size_sm Нажать
 *			.b-btn.b-btn_color_blue.b-btn_size_sm Нажать
 *
 */

.b-btn__group
    relative false
    display flex

.b-btn__group .b-btn
    if $siteBorderRadius != 0
        border-radius 0

    if $siteBorderRadius != 0
        &:first-of-type
            border-radius $siteBorderRadius 0 0 $siteBorderRadius

        &:last-of-type
            border-radius 0 $siteBorderRadius $siteBorderRadius 0
