
/*!*
 * Block:
 * `.b-btn_block` — Делаем кнопку блочной.
 *
 *
 *		@example.padded
 *		.b-btn.b-btn_color_blue.b-btn_block Нажать

 *
 */

.b-btn_block
    display block
    width 100%
    text-align center
