/*
*
* Информационные сообщения.
*
* .b-alert								- Полуфабрикат и без модификаторов не живет.
*
* .b-alert_full							- Сообщение с монотонным фоном.
* .b-alert_full_[$colors_alert]			- Задает цвет сообщения.
*
* .b-alert_line							- Сообщение с блеклым фоном и линией слева.
* .b-alert_line_[$colors_alert]			- Задает цвет сообщения.
*
* .b-alert_outline						- Сообщение с блеклым фоном и линией вокруг.
* .b-alert_outline_[$colors_alert]		- Задает цвет сообщения.
*
*/


.b-alert
	padding 15px 30px
	margin 15px 0
	font-size $site_font_size + 1

	if $site_border-radius != 0
		border-radius $site_border-radius
