
/*!*
 * Alert (line):
 * `.b-alert_full` — Сообщение с блеклым фоном и линией вокруг.
 *
 *     @example.padded
 *     .b-alert.b-alert_outline.b-alert_outline_blue
 *			.b-heading.b-heading_level_5.b-heading_first Внимание
 *			| Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *     .b-alert.b-alert_outline.b-alert_outline_blue Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *
 */

.b-alert_outline
	color $black
	border 2px solid

.b-alert_outline
	for name, color in $colors_alert
		&_{name}
			background-color lighten(color, 90%)
			border-color color
