
/*!*
 * Color:
 * `.c-alert_color_{name}` — Set color of the message box.
 *
 *
 *     @example.padded
 *     .c-alert.c-alert_color_blue
 *       h5.g-heading.g-heading_level_5.g-heading_first Note
 *       | Buckwheat expensive! Urgently procuring buckwheat and coupons on the Internet!!!
 *     .c-alert.c-alert_color_blue Buckwheat expensive! Urgently procuring buckwheat and coupons on the Internet!!!
 *
 */

alert_color($name, $backgroundColor, $borderColor, $color = null)
  &_color_{$name}
    border-color: $borderColor
    background-color: $backgroundColor

    if $color
      color: $color


.c-alert
  alert_color('blue', lighten($blue, 90%), lighten($blue, 70%))
