
/*!*
 * Style — line:
 * `.b-alert_line` — Сообщение с блеклым фоном и линией слева.
 *
 * `.b-alert_line_{$colors_alert}` — Задает цвет блока сообщения.
 *
 *
 *     @example.padded
 *     .b-alert.b-alert_line.b-alert_line_blue
 *			.b-heading.b-heading_level_5.b-heading_first Внимание
 *			| Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *     .b-alert.b-alert_line.b-alert_line_blue Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *
 */

.b-alert_line
	color $black
	border-left 5px solid

.b-alert_line
	for name, color in $colors_alert
		&_{name}
			background-color lighten(color, 70%)
			border-color color
