/*
*
* Информационные сообщения.
*
* .b-alert							- Полуфабрикат и без модификаторов не живет.
*
* .b-alert__header					- Заголовок сообщения.
*
* .b-alert_full						- Сообщение с монотонным фоном.
* .b-alert_full_[colors]			- Добавляет кнопке цвет.
*
* .b-alert_line						- Сообщение с блеклым фоном и линией слева.
* .b-alert_line_[colors]			- Добавляет кнопке цвет.
*
*/


.b-alert
	padding 15px 30px
	margin 15px 0 30px
	font-size $site_font_size + .01

	if $site_border-radius != 0
		border-radius $site_border-radius


.b-alert__heading
	font-size $site_font_size + .05
	font-weight 700
