
/*!*
 * Color:
 * `.c-alert_color_{$color_alert}` — Задает цвет блока сообщения.
 *
 *
 *		@example.padded
 *		.c-alert.c-alert_color_blue
 *			h5.g-heading.g-heading_level_5.g-heading_first Внимание
 *			| Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *		.c-alert.c-alert_color_blue Гречка дорожает! Срочно закупайтесь гречкой и талонами на интернет!!!
 *
 */

.c-alert_color
    for $name, $color in $color_alert
        &_{$name}
            border-color: $color[0]
            background-color: lighten($color[0], 90%)

            if $color[1]
                color: $color[1]
