
doctype html
html(lang="ru-RU")
	head
		include core/head.jade

	body.dfs
		include core/header.jade

		section
			.container: .row
				.col.w0-0
					// Example					
					include ../components/light-gallery/light-gallery.jade
					include ../components/popup/popup.jade
					include ../components/alert/alert.jade
					include ../components/pagination/pagination.jade
					include ../components/breadcrumb/breadcrumb.jade
					include ../components/form/form.jade
					include ../components/list/list.jade
					include ../components/table/table.jade
					include ../components/btn/btn.jade
					// Example

		include core/footer.jade

		script(src="frontend/js/hoppas.js")
