
block var
    - title = 'Main page'

doctype html
html(lang="ru-RU")
    head
        include core/head.jade

    body
        block header
            include core/header.jade
        
        block content
            section
                .container: .row
                    .col.w0

        block footer
            include core/footer.jade
        
        block scripts
            //- script(src="//yastatic.net/jquery/2.1.4/jquery.min.js") //- яндекс, ты пьян, где 2.2.0?
            script window.jQuery||document.write('<script src="frontend/js/lib/jquery.js?v=2.2.0"><\/script>');
            script(src="frontend/js/hoppas.js")
