
/*!**
 * Sticky-footer:
 *
 */

/*!*
 * Прилипающий футер:
 * `.c-sticky-footer__neighbors` — Класс блоков на уровне контента.
 *
 * `.c-sticky-footer__item ` — Обертка контента.
 *
 */

html
  height: 100%

body
  display: flex
  flex-direction: column
  height: 100%

.c-sticky-footer__neighbors
  flex: none

.c-sticky-footer__item
  flex: 1 0 auto
