/**
 * # Styleguide options
 *
 * ### Head
 *
 *		title(name="viewport" content="width=device-width, initial-scale=1") asdas
 *		meta(name="viewport" content="width=device-width, initial-scale=1")
 *		link(rel="stylesheet" href="https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.css")
 *		script(src='https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.js')
 *		link(rel="stylesheet" href="../css/font-roboto.css")
 *		link(rel="stylesheet" href="../css/hoppas.css")
 *
 * ### Body
 *
 *		section.wrapper
 *			div.row
 *				h1 Style Guide
 *
 *		.container
 *			div.row
 *				.col.w1-1
 *					div#styleguides.sg-container(sg-content)
 *
 *		script(src='../js/lib/jquery-2.1.4.js')
 *		script(src='../js/hoppas.js')
 *
 */
