/**
 * # Styleguide options
 *
 * ### Head
 *
 *     meta(name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=no")
 *     link(rel="stylesheet" href="https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.css")
 *     script(src='https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.js')
 *     link(rel="stylesheet" href="../frontend/css/fonts.css")
 *     link(rel="stylesheet" href="../frontend/css/hoppas.css")
 *
 * ### Body
 *
 *     .container
 *       div.row
 *         .col.w1
 *           h1 Style Guide
 *
 *     .container
 *       div.row
 *         .col.w1
 *           div#styleguides.sg-container(sg-content)
 *
 *     script(src='../frontend/js/vendor.js')
 *     script(src='../frontend/js/hoppas.js')
 *
 */
