
$gridSystem = {
  '0': 'xl' 1332px,
  '1': 'lg' 992px,
  '2': 'md' 752px,
  '3': 'sm',
  '4': 'xs'
}

.l-box
  margin-right: auto
  margin-left: auto

.l-row
  display: flex
  flex-wrap: wrap

.l-col
  max-width: 100%

-grid-inner($width, $space, $mod = '')
  $width = $width || 100%
  $space = $space || 16px

  .l-box
    width: $width

  .l-row .l-row
    margin-right: -($space)
    margin-left: -($space)

  .l-col
    padding-right: $space
    padding-left: $space

  .l-col_0{$mod}
    flex: 1
    max-width: 100%

  for $i in 1..5
    .l-col_{$i}{$mod}
      flex: 0 (1/$i) * 100%
      max-width: (1/$i) * 100%

for $index, $args in $gridSystem
  if $index == '0'
    -grid-inner($args[1], $args[2])
  else
    $mod = '_' + $args[0]
    +media('max', $args[0])
      -grid-inner($args[1], $args[2], $mod)
