
$gridSizeXl = 'xl' 1232px 16px
$gridSizeLg = 'lg' 992px 16px
$gridSizeMd = 'md' 752px 16px
$gridSizeSm = 'sm' 100% 16px
$gridSizeXs = 'xs' 100% 16px

$gridSystem = $gridSizeXl $gridSizeLg $gridSizeMd $gridSizeSm $gridSizeXs

.l-box
  margin-right: auto
  margin-left: auto

.l-row
  display: flex
  flex-wrap: wrap

.l-col
  max-width: 100%

-grid-inner($width, $space, $mod = '')
  .l-box
    width: $width

  .l-row .l-row
    margin-right: -($space)
    margin-left: -($space)

  .l-col
    padding-right: $space
    padding-left: $space

  .l-col_0{$mod}
    flex: 1
    max-width: 100%

  for $i in 1..5
    .l-col_{$i}{$mod}
      flex: 0 (1/$i) * 100%
      max-width: (1/$i) * 100%

for $args, $index in $gridSystem
  if $index == '0'
    -grid-inner($args[1], $args[2])
  else
    $mod = '_' + $args[0]
    +media('max', $args[0])
      -grid-inner($args[1], $args[2], $mod)
