

.h-cf
  clearfix()

.h-float-left
  float: left !important

.h-float-right
  float: right !important

.h-overflow
  overflow: auto

.h-hide
  display: none !important

.h-show
  display: block !important

.h-align-left
  text-align: left !important

.h-align-center
  text-align: center !important

.h-align-right
  text-align: right !important

.h-font-bold
  font-weight: bold !important

.h-font-italic
  font-style: italic !important

.h-font-big
  font-size: 120% !important

.h-font-small
  font-size: 80% !important
