
.h-cf
  clearfix()

.h-floatLeft
  float: left !important

.h-floatRight
  float: right !important

.h-overflow
  overflow: auto !important

.h-hide
  display: none !important

.h-show
  display: block !important

.h-alignCenter
  text-align: center !important

.h-alignRight
  text-align: right !important

.h-alignLeft
  text-align: left !important

.h-fontBold
  font-weight: bold !important

.h-fontItalic
  font-style: italic !important

.h-fontBig
  font-size: 120% !important

.h-fontSmall
  font-size: 80% !important
