
/*
 * Media
 *
 * +media('min', 500px)                 => >=500px
 * +media('min', 'sm')                  => sm, md, lg, xl
 * +media('max', 'sm')                  => xs, sm
 * +media('in', 'md')                   => md
 * +media('in', 'xs')                   => xs
 * +media('out', 'md')                  => xs, sm, lg, xl
 * +media('out', 'xl')                  => xs, sm, md, lg
 *
 */

$mediaSystem = {
  'xl': 1260px,
  'lg': 1000px,
  'md': 768px,
  'sm': 550px,
  'xs': 0
}
$mediaSystemArrKey = keys($mediaSystem)
$mediaSystemPositionMax = length($mediaSystem) - 1


media($type, $point)
  $position = index(keys($mediaSystem), $point)
  $current = type($point) == 'unit' ? $point : $mediaSystem[$point]
  $next = type($point) == 'unit' ? $point + 1 :  $mediaSystem[$mediaSystemArrKey[$position - 1]]

  if ($type == 'max' && $position != 0) || ($type == 'in' && $position == $mediaSystemPositionMax)
    $mediaWhere = '(max-width: $next - 1)'

  else if ($type == 'min' && $position != $mediaSystemPositionMax) || ($type == 'in' && $position == 0)
    $mediaWhere = '(min-width: $current)'

  else if $type == 'in'
    $mediaWhere = '(min-width: $current) and (max-width: $next - 1)'

  else if $type == 'out'
    if ($position == $mediaSystemPositionMax)
      $mediaWhere = '(min-width: $next)'
    else if ($position == 0)
      $mediaWhere = '(max-width: $current - 1)'
    else
      $mediaWhere = '(max-width: $current - 1), (min-width: $next)'

  if $mediaWhere is defined
    @media $mediaWhere
      {block}
  else
    {block}



/*
 * Reset float
 *
 * clearfix()
 *
 */

clearfix()
  &::before
  &::after
    display: block
    content: ''

  &::after
    clear: both
