
<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
  </head>
  <body>
    <%- include('./_blocks/header') %>

    <section>
      <div class="l-box">
        <div class="l-row">
          <div class="l-col l-col_1">
          </div>
        </div>
      </div>
    </section>

    <%- include('./_blocks/footer') %>
    <%- include('./_blocks/scripts') %>
  </body>
</html>
