
/*!**
 * Text:
 * Типографика.
 *
 */

/*!*
 * Spacer:
 * `.b-text` —  Блок в котором присваиваются отступы параграфам, спискам  и талицам.
 *
 *
 *		@example.padded
 *		.b-text
 *			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
 *			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
 *			ul
 *				li Lorem ipsum dolor sit amet
 *				li Sed do eiusmod tempor incididunt ut
 *
 */

.b-text
    & p
        margin-bottom 15px

    & ul
    & ol
        margin-bottom 15px
        margin-left 20px

    & li
        margin-bottom 5px

    & table
        margin-bottom 15px
