
/*!**
 * Text:
 * Типографика.
 *
 */

/*!*
 * Spacer:
 * `.c-text` — Блок в котором стилезуются теги оформления текста: p, ul, ol, li, blockquote, b, i, hr.
 *
 *
 *		@example.padded
 *		.c-text
 *			img.c-text__image-left(src="http://fakeimg.pl/250x300/282828/eae0d0/?text=left")
 *			img.c-text__image-right(src="http://fakeimg.pl/250x300/282828/eae0d0/?text=right")
 *			p.
 *			   Lorem ipsum dolor sit amet, consectetur adipisicing elit,
 *			   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 *			   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
 *			   nisi ut aliquip ex ea commodo consequat.
 *			ul
 *				li Lorem ipsum dolor sit amet
 *				li Sed do eiusmod tempor incididunt ut
 *			ol
 *				li Lorem ipsum dolor sit ametsssss
 *				li Sed do eiusmod tempor incididunt ut
 *			.h-cf
 *			blockquote
 *			   p.
 *			       Lorem ipsum dolor sit amet, consectetur adipisicing elit,
 *			       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 *			       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
 *			       nisi ut aliquip ex ea commodo consequat.
 *			p: b Lorem ipsum dolor sit amet
 *			p: i Lorem ipsum dolor sit amet
 *			hr
 *
 */

.c-text
  & p
    margin-bottom: rem(20px)

  & ul
  & ol
    margin-bottom: rem(20px)
    margin-left: rem(10px)
    padding: 0
    list-style-position: inside

  & li
    margin-bottom: em(5px)

  & table
    margin-bottom: em(20px)

  & blockquote
    margin: rem(20px) rem(30px)
    padding: em(15px)
    border-left: 3px solid $graylight

    & p:last-child
      margin-bottom: 0

  & b
    font-weight: bold

  & i
    font-style: italic

  & hr
    margin: rem(20px) 0
    border: 1px solid $graylight

  &__image-left
    float: left
    margin: rem(5px) rem(10px) rem(10px) 0

  &__image-right
    float: right
    margin: rem(5px) 0 rem(10px) rem(10px)
