
/*!**
 * Breadcrumb:
 *
 */

/*!*
 * Хлебные крошки:
 * `.b-breadcrumb` — Обертка хлебных крошек.
 *
 * `.b-breadcrumb__item` — Пункт крошек.
 *
 *
 *     @example.padded
 *     ul.b-breadcrumb
 *			li.b-breadcrumb__item: a(href="") Главная
 *			li.b-breadcrumb__item: a(href="") Каталог
 *			li.b-breadcrumb__item: a(href="") Группа
 *			li.b-breadcrumb__item Товар
 *
 */

$breadcrumbs_font_size = $site_font_size - 10%

.b-breadcrumb
	display flex
	list-style none
	font-size $breadcrumbs_font_size

.b-breadcrumb__item
	color $gray

	&:not(:last-of-type)::after
		margin 0 5px
		content '›'
