
h2.b-heading.b-heading_level_2 Хлебные крошки
ul.b-breadcrumb
	li.b-breadcrumb__item: a(href="") Главная
	li.b-breadcrumb__item: a(href="") Каталог
	li.b-breadcrumb__item: a(href="") Группа
	li.b-breadcrumb__item Товар
