/*
*
* Хлебные крошки.
*
* .b-breadcrumb					- Стандартная обертка хлебных крошек.
*
* .b-breadcrumb__item			- Пункт крошек.
*
*/

$breadcrumbs_font_size = $site_font_size - 10%

.b-breadcrumb
	display flex
	list-style none
	font-size $breadcrumbs_font_size

.b-breadcrumb__item
	color $grey

	&:not(:last-of-type)::after
		content "›"
		margin 0 5px
