
/*!**
 * Breadcrumb:
 *
 */

/*!*
 * Хлебные крошки:
 * `.c-breadcrumb` — Обертка хлебных крошек.
 *
 * `.c-breadcrumb__item` — Пункт крошек.
 *
 *
 *		@example.padded
 *		ul.c-breadcrumb
 *			li.c-breadcrumb__item: a(href="") Главная
 *			li.c-breadcrumb__item: a(href="") Каталог
 *			li.c-breadcrumb__item: a(href="") Группа
 *			li.c-breadcrumb__item Товар
 *
 */

$breadcrumbs_font_size = $siteFontSize - 10%

.c-breadcrumb
    display flex
    list-style none
    font-size $breadcrumbs_font_size

.c-breadcrumb__item
    color $gray

    &:not(:last-of-type)::after
        margin 0 5px
        content '›'
