
.b-form__checkbox_modern
	& .b-form__icon
		display inline-block
		size 45px false
		vertical-align bottom
		background $red
		border-radius 10px
		transition all .2s ease 0s

	& .b-form__icon::after
		content ""
		display block
		size 15px
		margin 3px 0px
		transform translateX(3px)
		background $white
		border-radius 50%
		transition all .2s ease 0s

	& :checked + .b-form__icon
		background $green

	& :checked +  .b-form__icon::after
		transform translateX(27px)

	&.b-form__label_disable
		& .b-form__icon
			background $grey
