
@font-face
	font-weight normal
	font-style normal
	font-family 'Icon Form Radio'
	src url('source/components/form/form__icon_radio.woff') format('woff')


.b-form__radio
	& .b-form__icon::before
		content '\e000'
		font-family 'Icon Form Radio'

	& :checked + .b-form__icon::before
		content '\e001'
