
.b-form__checkbox_modern
	& .b-form__icon
		display inline-block
		size 45px false
		border-radius 10px
		background $red
		vertical-align bottom
		transition all .2s ease 0

	& .b-form__icon::after
		display block
		margin 3px 0
		border-radius 50%
		background $white
		content ''
		size 15px
		transform translateX(3px)
		transition all .2s ease 0

	& :checked + .b-form__icon
		background $green

	& :checked +  .b-form__icon::after
		transform translateX(27px)

	&.b-form__label_disable
		& .b-form__icon
			background $gray
