
/*!**
 * Form:
 * Формы.
 *
 * `.b-form` — Базовый класс тега form.
 *
 */

.b-form
    display block


/*!*
 * Label:
 * `.b-form__label` — Класс для всех label-ов.
 *
 * `.b-form__label_disabled` — Отключаем элемент, нужен `disabled` для внутреннего input-а.
 *
 *
 *		@example.padded
 *		form.b-form
 *			label.b-form__label Инпут
 *				input.b-form__field(type="text", placeholder="Simple text input")
 *			label.b-form__label Инпут
 *				input.b-form__field(type="text", placeholder="Simple text input", disabled)
 *
 */

.b-form__label
    display block

.b-form__label:not(:first-of-type)
    margin-top 15px

.b-form__label_disabled
    color $gray
    cursor default

    &::before
        color @color !important


.b-form__radio
.b-form__checkbox
    padding-left 23px
    background-position left center
    background-size 17px
    background-repeat no-repeat

.b-form__label input[type='radio']
.b-form__label input[type='checkbox']
    fixed -100% false false
    visibility hidden


/*!*
 * Group:
 * `.b-form__group` — Объединяет группу элементов формы.
 *
 *
 *		@example.padded
 *		form.b-form
 *			.b-form__group
 *				label.b-form__label Имя
 *					input.b-form__field(type="text", placeholder="Simple text input")
 *				label.b-form__label Фамилия
 *					input.b-form__field(type="text", placeholder="Simple text input")
 *			.b-form__group
 *				label.b-form__label Пол
 *					input.b-form__field(type="text", placeholder="Simple text input")
 *				label.b-form__label Возраст
 *					input.b-form__field(type="text", placeholder="Simple text input")
 *
 */

.b-form__group:not(:last-of-type)
    margin-bottom 30px
