
@font-face
	font-weight normal
	font-style normal
	font-family 'Icon Form Checkbox Simple'
	src url('source/components/form/form__icon_checkbox_simple.woff') format('woff')


.b-form__checkbox_simple
	& .b-form__icon::before
		content '\e000'
		font-family 'Icon Form Checkbox Simple'

	& :checked + .b-form__icon::before
		content '\e001'
