/*
*
* Формы.
*
* .b-form										- Класс обертка для тега form.
*
* .b-form__field								- Класс для текстовых полей и textarea.
* .b-form__field_textarea						- Модификатор textarea.
* .b-form__field_valid							- Модификатор валидного поля.
* .b-form__field_invalid						- Модификатор поля с ошибкой.
*
* .b-form__radio								- Класс для соответствующего input-а.
* .b-form__checkbox								- Класс для соответствующего input-а.
*
* .b-form__checkbox_[normal,simple,modern]		- Элемент для label, который опредеяет стиль checkbox.
* .b-form__radio								- Элемент для label, которым обернут radio.
*
* .b-form__icon									- Элемент иконок.
*
* .b-form__label								- Класс для всех label-ов.
* .b-form__label_disable						- Применяем вовместно с атрибутом disabled для внутреннего input.
*
* .b-form__group-line							- Группа элементов.
*
*/

.b-form
	display block


.b-form__label
	display block
	margin-bottom 5px

.b-form__label:not(:first-of-type)
	margin-top 10px

.b-form__label_disable
	color $gray
	cursor default


.b-form__radio
.b-form__checkbox
	cursor pointer

.b-form__radio input
.b-form__checkbox input
	display none


.b-form__group-line
	margin-bottom 10px
