
@font-face
	font-family "Icon Form Checkbox Normal"
	src url("source/components/form/form__icon_checkbox_normal.woff") format("woff")
	font-weight normal
	font-style normal


.b-form__checkbox_normal
	& .b-form__icon::before
		font-family "Icon Form Checkbox Normal"
		content "\e001"

	& :checked + .b-form__icon::before
		content "\e000"
