
/*!*
 * Radio:
 * `.b-form__radio` — Класс на label, чтобы иконка приняла нужный вид.
 *
 *
 *     @example.padded
 *		label.b-form__label.b-form__radio
 *			input(type="radio", name="radioName2", checked)
 *			i.b-form__icon
 *			| Первый radio (активный)
 *		label.b-form__label.b-form__radio
 *			input(type="radio", name="radioName2")
 *			i.b-form__icon
 *			| Второй radio
 *		label.b-form__label.b-form__radio.b-form__label_disabled
 *			input(type="radio", name="radioName2", disabled)
 *			i.b-form__icon
 *			| Третий radio (отключен)
 *
 */

@font-face
	font-weight normal
	font-style normal
	font-family 'Icon Form Radio'
	src url('source/components/form/form__icon_radio.woff') format('woff')


.b-form__radio
	& .b-form__icon::before
		content '\e000'
		font-family 'Icon Form Radio'

	& :checked + .b-form__icon::before
		content '\e001'
