
/*!*
 * Append:
 * `.c-form__append` — Обертка для присоединения блоков к полю.
 *
 * `.c-form__addon` — Класс присоединяемого поля.
 *
 *
 *		@example.padded
 *		label.c-form__label
 *			.c-form__append
 *				input.c-form__field(type="text" placeholder="Simple text input" required)
 *				.c-form__addon.c-btn.c-btn_color_green Отправить
 *
 */

.c-form__append
  display: flex

.c-form__append
  & .c-form__field
  & .c-form__addon
    margin: 0

    if $borderRadiusDefault != 0
      border-radius: 0

  if $borderRadiusDefault != 0
    & > :first-child
      border-radius: auto 0 0 auto

    & > :last-child
      border-radius: 0 auto auto 0

.c-form__append .c-form__field
  flex: 1
  min-width: 10%
