
/*!*
 * Checkbox:
 * `.b-form__checkbox` — Класс на label, чтобы иконка приняла нужный вид.
 *
 * `.b-form__checkbox_checked` — Модификатор выбранного состояния.
 *
 *
 *		@example.padded
 *		.b-form
 *			label.b-form__label
 *				input(type="checkbox")
 *				.b-form__checkbox Первый checkbox
 *			label.b-form__label
 *				input(type="checkbox", checked)
 *				.b-form__checkbox Второй checkbox (активный)
 *			label.b-form__label
 *				input(type="checkbox", disabled)
 *				.b-form__checkbox Третий checkbox (отключен)
 *
 */

.b-form__checkbox
    background-image svgurl('source/img/form/form__checkbox_off.svg') svg(path fill $black)

input:not(:disabled) + .b-form__checkbox:hover
    background-image svgurl('source/img/form/form__checkbox_off.svg') svg(path fill $red)


input:checked + .b-form__checkbox
    background-image svgurl('source/img/form/form__checkbox_on.svg') svg(path fill $blue)

input:checked + .b-form__checkbox:hover
    background-image svgurl('source/img/form/form__checkbox_on.svg') svg(path fill $red)


input:disabled + .b-form__checkbox
    background-image svgurl('source/img/form/form__checkbox_off.svg') svg(path fill $gray)

input:checked:disabled + .b-form__checkbox
    background-image svgurl('source/img/form/form__checkbox_on.svg') svg(path fill $gray)
