
/*!*
 * Checkbox Normal:
 * `.b-form__radio` — Класс на label, чтобы иконка приняла нужный вид.
 *
 *
 *     @example.padded
 *		label.b-form__label.b-form__checkbox.b-form__checkbox_normal
 *			input(type="checkbox", checked)
 *			i.b-form__icon
 *			| Первый checkbox (активный)
 *		label.b-form__label.b-form__checkbox.b-form__checkbox_normal
 *			input(type="checkbox",)
 *			i.b-form__icon
 *			| Второй checkbox
 *		label.b-form__label.b-form__checkbox.b-form__checkbox_normal.b-form__label_disabled
 *			input(type="checkbox", disabled)
 *			i.b-form__icon
 *			| Третий checkbox (отключен)
 *
 */

@font-face
	font-weight normal
	font-style normal
	font-family 'Icon Form Checkbox Normal'
	src url('source/components/form/form__icon_checkbox_normal.woff') format('woff')


.b-form__checkbox_normal
	& .b-form__icon::before
		content '\e001'
		font-family 'Icon Form Checkbox Normal'

	& :checked + .b-form__icon::before
		content '\e000'
