
/*!*
 * Field:
 * `.b-form__field` — Класс для текстовых полей и textarea.
 *
 * `.b-form__field_textarea` — Модификатор textarea.
 *
 * `.b-form__field_valid` — Модификатор валидного поля.
 *
 * `.b-form__field_invalid` — Модификатор поля с ошибкой.
 *
 *
 *		@example.padded
 *		label.b-form__label Инпут
 *			input.b-form__field(type="text", placeholder="Simple text input",  required)
 *		label.b-form__label Текстовая область
 *			textarea.b-form__field.b-form__field_textarea(placeholder="Simple textarea")
 *		label.b-form__label Инпут валидный
 *			input.b-form__field.b-form__field_valid(type="text", placeholder="Simple text input")
 *		label.b-form__label Инпут с ошибкой
 *			input.b-form__field.b-form__field_invalid(type="text", placeholder="Simple text input")
 *		label.b-form__label Инпут неактивный
 *			input.b-form__field(type="text", placeholder="Simple text input", disabled)
 *
 */

.b-form__field
    margin-top 5px
    padding 5px
    width 100%
    border 1px solid $graylight
    background $white
    box-shadow 0 1px 1px 0 rgba($black, .05) inset
    color $black
    transition border-color .3s ease-in-out
    border-radius()

    &:not(:disabled):hover
        border-color $gray

    &:focus
        border-color $blue !important
        box-shadow none

.b-form__field_textarea
    min-width 100%
    min-height 50px
    max-width 100%
    resize vertical


.b-form__field:disabled
    background-color lighten($graylight, 70%)

.b-form__field_valid
    border-color $green

.b-form__field_invalid
    border-color $red
