
/*!**
 * Breadcrumbs:
 *
 */

/*!*
 * Хлебные крошки:
 * `.m-breadcrumbs` — Обертка хлебных крошек.
 *
 * `.m-breadcrumbs__item` — Пункт крошек.
 *
 *
 *		@example.padded
 *		ul.m-breadcrumbs
 *			li.m-breadcrumbs__item: a(href="") Главная
 *			li.m-breadcrumbs__item: a(href="") Каталог
 *			li.m-breadcrumbs__item: a(href="") Группа
 *			li.m-breadcrumbs__item Товар
 *
 */

.m-breadcrumbs
    display: flex
    padding: 0
    list-style: none
    font-size: em(14px)

.m-breadcrumbs__item
    color: $gray

    &:not(:last-of-type)::after
        margin: 0 rem(5px)
        content: '›'
