
mixin breadcrumbs(data)
  ul.m-breadcrumbs
    each page in data.list
      li.m-breadcrumbs__item
        if page.link
          a(href=`/${page.link}`) #{page.title}
        else
          | #{page.title}
