
/*!**
 * Breadcrumbs:
 *
 */

/*!*
 * Хлебные крошки:
 * `.m-breadcrumbs` — Обертка хлебных крошек.
 *
 * `.m-breadcrumbs__item` — Пункт крошек.
 *
 *
 *     @example.padded
 *     ul.m-breadcrumbs
 *       li.m-breadcrumbs__item: a(href="") Home
 *       li.m-breadcrumbs__item: a(href="") Catalog
 *       li.m-breadcrumbs__item: a(href="") Subcatalog
 *       li.m-breadcrumbs__item Item
 *
 */

.m-breadcrumbs
  display: flex
  flex-wrap: nowrap
  padding: 0
  list-style: none
  font-size: em(14px)

.m-breadcrumbs__item
  color: $gray

  &:not(:last-of-type)::after
    margin: 0 rem(5px)
    content: '›'
