
/*!**
 * Table:
 *
 */

/*!*
 * Таблицы:
 * `.c-table` — Базовый класс таблицы.
 *
 * `.c-table_striped` — Выделяем нечетные строки.
 *
 * `.c-table_hovered` — Подсвечиваем строчку при наведении.
 *
 * `.c-table_nowrap` — Не ломаем текст.
 *
 * `.c-table__overflow` — Обертка таблицы для скролла на маленьких экранах.
 *
 *
 *
 *		@example.padded
 *		.c-table__overflow
 *			table.c-table.c-table_striped.c-table_hovered.c-table_nowrap
 *				thead
 *					tr
 *						th Id
 *						th Name
 *						th Price
 *				tbody
 *					tr
 *						td 01
 *						td Lorem
 *						td 100 000
 *					tr
 *						td 02
 *						td Loremer
 *						td 200 000
 *					tr
 *						td 03
 *						td Loremes
 *						td 300 000
 *
 */

.c-table
    width: 100%

    & thead
        color: lighten($black, 30%)
        border-bottom: 2px solid $graylight

        & th
            padding: 10px

    & tbody
        & td
        & th
            padding: 5px 10px
            border-bottom: 1px solid $graylight


.c-table_striped
    & tbody tr:nth-of-type(2n)
        background: lighten($gray, 70%)


.c-table_hovered
    & tbody tr:hover
        background: lighten($gray, 50%)


.c-table_nowrap
    white-space: nowrap


.c-table__overflow
    overflow: auto
