
/*!**
 * Table:
 *
 */

/*!*
 * Таблицы:
 * `.b-table` — Базовый класс таблицы.
 *
 * `.b-table_striped` — Выделяем нечетные строки.
 *
 * `.b-table_hovered` — Подсвечиваем строчку при наведении.
 *
 * `.b-table_nowrap` — Не ломаем текст.
 *
 * `.b-table__overflow` — Обертка таблицы для скролла на маленьких экранах.
 *
 *
 *
 *		@example.padded
 *		.b-table__overflow
 *			table.b-table.b-table_striped.b-table_hovered.b-table_nowrap
 *				thead
 *					tr
 *						th Id
 *						th Name
 *						th Price
 *				tbody
 *					tr
 *						td 01
 *						td Lorem
 *						td 100 000
 *					tr
 *						td 02
 *						td Loremer
 *						td 200 000
 *					tr
 *						td 03
 *						td Loremes
 *						td 300 000
 *
 */

.b-table
    width 100%

    & thead
        border-bottom 2px solid $graylight
        color lighten($black, 30%)

        & th
            padding 10px

    & tbody
        & td
        & th
            padding 5px 10px
            border-bottom 1px solid $graylight


.b-table_striped
    & tbody tr:nth-of-type(2n)
        background lighten($gray, 70%)


.b-table_hovered
    & tbody tr:hover
        background lighten($gray, 50%)


.b-table_nowrap
    white-space nowrap


.b-table__overflow
    overflow auto
