
.b-gallery__body
    overflow hidden

.b-gallery

.b-gallery__slide
.b-gallery__slide_active

.b-gallery__title

.b-gallery__close

.b-gallery__nav
.b-gallery__nav_prev
.b-gallery__nav_next
    background #fff
