
.content
  & p:not(:last-child)
    margin-bottom: 1rem

  & b
    font-weight: 700

  & i
    font-style: italic

  & iframe
    max-width: 100%

  & hr
    margin: 1rem 0
    border: 1px none $graylight
    border-top-style: solid

  & blockquote
    margin: 1.5rem 2rem
    padding: 1rem 1.5rem
    border-left: 4px solid $green
    color: #333
    font-size: 20px

  & h1
  & h2
  & h3
  & h4
    line-height: 1.15

  & h1
    margin-bottom: 1.5rem
    font-size: 30px

    &:not(:first-child)
      margin-top: 2rem

  & h2
  & h3
    font-size: 1.5rem

  & h2
    margin-bottom: 1rem

    &:not(:first-child)
      margin-top: 2rem

  & h4
    font-size: 20px

  & h3
  & h4
    margin-bottom: .5rem

    &:not(:first-child)
      margin-top: 1rem

  & ul
  & ol
    margin-bottom: 1rem
    margin-left: .5rem
    padding: 0
    list-style-position: inside

    & li
      margin-bottom: .5rem

  & table
    margin-bottom: 1rem
    width: 100%

    & thead
      border: 1px solid $graylight
      border-bottom-width: 2px
      color: lighten($black, 30%)

      & th
        padding: 1rem

    & tbody
      & td
      & th
        padding: .5rem 1rem
        border: 1px solid $graylight

  & figure
  &__media
    margin: 1rem .5rem
    text-align: center

  &__mediaRight
    float: right
    margin: .5rem 0 1rem 1rem

  &__mediaLeft
    float: left
    margin: .5rem 1rem 1rem 0

  & figcaption
    font-style: italic
