
.content
  & p:not(:last-child)
    margin-bottom: 16px

  & b
    font-weight: 700

  & i
    font-style: italic

  & iframe
    max-width: 100%

  & hr
    margin: 16px 0
    border: 1px none $graylight
    border-top-style: solid

  & blockquote
    margin: 24px 32px
    padding: 16px 24px
    border-left: 4px solid $green
    color: #333
    font-size: 20px

  & h1
  & h2
  & h3
  & h4
    line-height: 1.15

  & h1
    margin-bottom: 24px
    font-size: 30px

    &:not(:first-child)
      margin-top: 32px

  & h2
  & h3
    font-size: 24px

  & h2
    margin-bottom: 16px

    &:not(:first-child)
      margin-top: 32px

  & h4
    font-size: 20px

  & h3
  & h4
    margin-bottom: 8px

    &:not(:first-child)
      margin-top: 16px

  & ul
  & ol
    margin-bottom: 16px
    margin-left: 8px
    padding: 0
    list-style-position: inside

    & li
      margin-bottom: 8px

  & table
    margin-bottom: 16px
    width: 100%

    & thead
      border: 1px solid $graylight
      border-bottom-width: 2px
      color: lighten($black, 30%)

      & th
        padding: 16px

    & tbody
      & td
      & th
        padding: 8px 16px
        border: 1px solid $graylight

  &__image
    margin: 16px 8px
    text-align: center

  &__imageRight
    float: right
    margin: 8px 0 16px 16px

  &__imageLeft
    float: left
    margin: 8px 16px 16px 0
