
/*!**
 * Base:
 * Unclassed HTML elements.
 *
 */


*
::after
::before
    box-sizing: border-box

html
    font-size: $siteFontSize
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%

body
    min-width: 320px
    color: $black
    background-color: $siteBackgroundColor
    font-family: $siteFontFamily
    font-size: 1em
    line-height: 1.45

article
aside
details
figcaption
figure
footer
header
main
menu
nav
section
summary
    display: block

audio
canvas
progress
video
    display: inline-block
    vertical-align: baseline

article
aside
audio
b
body
button
canvas
dd
details
div
dl
dt
em
fieldset
figcaption
figure
footer
form
h1
h2
h3
h4
h5
h6
header
html
i
img
input
label
legend
li
mark
menu
nav
ol
optgroup
p
section
select
span
strong
sub
summary
sup
table
tbody
td
textarea
tfoot
th
thead
time
tr
ul
video
    margin: 0
    padding: 0
    border: 0
    outline: 0

button::-moz-focus-inner
input::-moz-focus-inner
    padding: 0
    border: 0

button:-moz-focusring
input:-moz-focusring
    outline: 1px dotted ButtonText

a
    text-decoration: none
    color: $blue
    background: transparent 0 0

    &:hover
    &:focus
        color: lighten(@color, 40%)

    &:active
        color: $red

    &:focus
        outline: dotted thin

    &:active
    &:hover
        outline: 0

abbr[title]
    cursor: help
    text-decoration: none
    border-bottom: 1px dotted

audio:not([controls])
    display: none
    height: 0

b
strong
    font-weight: 700

button
select
    text-transform: none

button
input
select
    overflow: visible

button
input
optgroup
select
textarea
    color: inherit
    font: inherit

code
kbd
pre
samp
    font-family: monospace, monospace
    font-size: 1em

dfn
i
    font-style: italic

mark
    color: $black
    background: $yellow

progress
    vertical-align: baseline

img
svg
    max-width: 100%
    vertical-align: middle
    border: 0

svg:not(:root)
    overflow: hidden

small
    font-size: .8em

sub
sup
    position: relative
    vertical-align: baseline
    font-size: 75%
    line-height: 0

sub
    bottom: -.25em

sup
    top: -.5em

textarea
    overflow: auto

hr
    overflow: visible
    height: 0

table
    max-width: 100%
    border-spacing: 0
    border-collapse: collapse

td
th
    padding: 0
    text-align: left

template
[hidden]
    display: none

[disabled]
    cursor: default

input[type=number]::-webkit-inner-spin-button
input[type=number]::-webkit-outer-spin-button
    height: auto

[type='search']
    -webkit-appearance: textfield

[type='search']::-webkit-search-cancel-button
[type='search']::-webkit-search-decoration
    -webkit-appearance: none

button
html [type='button']
[type='reset']
[type='submit']
    cursor: pointer
    -webkit-appearance: button
