
/*!**
 * Colors:
 * Цвета по умолчанию.
 *
 */


/*!*
 * :
 *		@example.padded
 *		.row
 *			.col.w4(style="padding: 15px; text-align: center; background: #000; color: #fff;") black
 *			.col.w4(style="padding: 15px; text-align: center; background: #0055A6; color: #fff;") blue
 *			.col.w4(style="padding: 15px; text-align: center; background: #03A9F4;") bluelight
 *			.col.w4(style="padding: 15px; text-align: center; background: #66bb6a;") green
 *			.col.w4(style="padding: 15px; text-align: center; background: #999;") gray
 *			.col.w4(style="padding: 15px; text-align: center; background: #ccc;") graylignt
 *			.col.w4(style="padding: 15px; text-align: center; background: #F27935;") orange
 *			.col.w4(style="padding: 15px; text-align: center; background: #8E44AD;") purple
 *			.col.w4(style="padding: 15px; text-align: center; background: #E84C3D;") red
 *			.col.w4(style="padding: 15px; text-align: center; background: #fff;") white
 *			.col.w4(style="padding: 15px; text-align: center; background: #F1C40F;") yellow
 *
 */

$black = #000
$bluelight = #03A9F4
$blue = #0055A6
$green = #66bb6a
$graylight = #ccc
$gray = #999
$orange = #F27935
$purple = #8E44AD
$red = #E84C3D
$white = #fff
$yellow = #F1C40F


/* Цвета проекта */

// $black_p = #000


/* Хэш цветов для генерации цветов кнопок, текста и др. */

$color_text = {
    green: $green
    graylight: $graylight
    red: $red
}


$color_alert = {
    // ColorName: $ColorBG $ColorText
    blue: $blue
}


$color_btn = {
    // ColorName: $ColorBG $ColorText
    blue: $blue
    green: $green
    red: $red
}
