
.container
    margin-right: auto
    margin-left: auto

.row
    display: flex
    flex-wrap: wrap


.container
    width: 1240px

.row .row
    margin-right: -15px
    margin-left: -15px

.col
    max-width: 100%
    padding-right: 15px
    padding-left: 15px

$grid()


+media('in', 'lg')
    .container
        width: 980px

    $grid('_lg')


+media('in', 'md')
    .container
        width: 750px

    .row .row
        margin-right: -10px
        margin-left: -10px

    .col
        padding-right: 10px
        padding-left: 10px

    $grid('_md')


+media('max', 'sm')
    .container
        width: 100%

    .row .row
        margin-right: -5px
        margin-left: -5px

    .col
        padding-right: 5px
        padding-left: 5px


+media('in', 'sm')
    $grid('_sm')


+media('max', 'xs')
    $grid('_xs')
