
/*!**
 * Global:
 * Global styles.
 *
 */

/*!*
 * Float:
 * `.h-cf` —  Сбрасывает обтекание блоков.
 *
 * `h-float-{right|left}` —  Делает элемент обтекаемым.
 *
 *
 *     @example.padded
 *     .h-float-right Обтекание элемета слева
 *     .h-float-left Обтекание элемета справа
 *     .h-cf
 *     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
 *
 */

.h-cf
  clearfix()

.h-float-left
  float: left !important

.h-float-right
  float: right !important


/*!*
 * Hide/Show:
 * `.h-hide` —  Makes element hidden
 *
 * `.h-show` —  Makes element showen
 *
 *
 *     @example.padded
 *     .h-hide(style="display:block") You don't see me
 *     .h-show(style="display:none") You can see me
 *
 */

.h-hide
  display: none !important

.h-show
  display: block !important



/*!*
* Overflow:
* `.h-overflow` —  Makes element scrollable
*
*
*     @example.padded
*     .h-overflow
*       div(style="width:5000px;height:20px;background:linear-gradient(90deg, red, green);")
*
*/
.h-overflow
  overflow: auto



/*!*
 * Align:
 * `.h-align-{left|center|right}` —  Sets alignment of text
 *
 *
 *     @example.padded
 *     .h-align-left Left justification of text
 *     .h-align-center Center justification of text
 *     .h-align-right Right justification of text
 *
 */

.h-align-left
  text-align: left !important

.h-align-center
  text-align: center !important

.h-align-right
  text-align: right !important


/*!*
 * Font:
 * `.h-font-{bold|italic|big|small}` —  Sets formatting of text
 *
 *
 *     @example.padded
 *     .h-font-bold Bold text текст
 *     .h-font-italic Italic text
 *     .h-font-big Big text
 *     .h-font-small Small text
 *
 */

.h-font-bold
  font-weight: bold !important

.h-font-italic
  font-style: italic !important

.h-font-big
  font-size: 120% !important

.h-font-small
  font-size: 80% !important


/*!*
 * Color:
 * `.h-color-{$color_text}` —  Sets color of text
 *
 *
 *     @example.padded
 *     .h-color-red Red text
 *
 */

.h-color
  for $name, $color in $color_text
    &-{$name}
      color: $color
