
mixin header(page)
  -
    var page = page || 'index'
    var data = {
      index: {
        menu: [
          {
            title: 'Главная',
            link: 'home',
            active: true
          },
          {
            title: 'О нас',
            link: 'about'
          },
          {
            title: 'Каталог',
            link: 'catalog'
          },
          {
            title: 'Контакты',
            link: 'contacts'
          }
        ]
      }
    }


  header.m-header
    .container: .row
      .col.w3
        a.b-header-logo(href="/")
          img.b-header-logo__img(src="frontend/img/logo.png" alt="")

      .col.w0
        ul.b-header-menu
          each item in data[page].menu
            - var itemActiveClass = item.active ? 'b-header-menu__item_active' : ''
            - var linkActiveClass = item.active ? 'b-header-menu__link_active' : ''

            li.b-header-menu__item(class=`${itemActiveClass}`)
              a.b-header-menu__link(href=`/${item.link}` class=`${linkActiveClass}`) #{item.title}
