/*
*
* Списоки.
*
* .b-list							- Стандартная обертка списка.
*
* .b-list_unstyled					- Немаркированный список.
* .b-list_decimal					- Арабские числа (1, 2, 3, 4,...).
*
*/

.b-list
	margin-left 20px

.b-list_unstyled
	list-style none

.b-list_decimal
	list-style decimal
