/*
*
* Списоки.
*
* .b-list							- Стандартная обертка списка.
*
* .b-list-unstyled					- Немаркированный список.
* .b-list-inline					- Список в строчку.
*
*/

.b-list
	margin-left 20px

.b-list-unstyled
	list-style none

.b-list-inline
	display flex
	flex-wrap wrap
	list-style none
	margin-left 0