
h2.b-heading.b-heading_level_2 Списки
.row
	.col.w1-4
		h3.b-heading.b-heading_level_3 Стандартный
		ul.b-list
			li Список 1
			li
				| Список 2
				ul.b-list
					li Список 1
					li Список 2
					li Список 3
					li Список 4
					li Список 5
					li Список 6
			li Список 3
			li Список 4
			li Список 5
			li Список 6

	.col.w1-4
		h3.b-heading.b-heading_level_3 Нумерованный (ol)
		ol.b-list
			li Список 1
			li
				| Список 2
				ul.b-list
					li Список 1
					li Список 2
					li Список 3
					li Список 4
					li Список 5
					li Список 6
			li Список 3
			li Список 4
			li Список 5
			li Список 6

	.col.w1-4
		h3.b-heading.b-heading_level_3 Немаркированный
		ul.b-list.b-list_unstyled
			li Список 1
			li
				| Список 2
				ul.b-list
					li Список 1
					li Список 2
					li Список 3
					li Список 4
					li Список 5
					li Список 6
			li Список 3
			li Список 4
			li Список 5
			li Список 6

	.col.w1-4
		h3.b-heading.b-heading_level_3 Нумерованный (ul)
		ul.b-list.b-list_decimal
			li Список 1
			li
				| Список 2
				ul.b-list
					li Список 1
					li Список 2
					li Список 3
					li Список 4
					li Список 5
					li Список 6
			li Список 3
			li Список 4
			li Список 5
			li Список 6
