
<header class="header">
  <div class="l-box">
    <div class="l-row header__row">
      <div class="l-col l-col_1">
        <div class="headerLogo">
          <a class="headerLogo__link" href="">
            <img class="headerLogo__img" src="/frontend/media/logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
