/*
*
* Наборы цветов.
*
*/

/* Цвета проекта */

$black = #000
$blue = #1D8BDF
$green = #66bb6a
$gray = #939DA3
$graylight = lighten($gray, 20%)
$orange = #F27935
$purple = #8E44AD
$red = #E84C3D
$white = #fff
$yellow = #F1C40F


/* Хэш цветов для генерации цветов кнопок, текста и др. */

$colors_text = {
	black: $black
	blue: $blue
	green: $green
	graylight: $graylight
	orange: $orange
	purple: $purple
	red: $red
	yellow: $yellow
}


$colors_alert = {
	black: $black
	blue: $blue
	green: $green
	graylight: $graylight
	orange: $orange
	purple: $purple
	red: $red
	yellow: $yellow
}

$colors_btn = {
	black: $black
	blue: $blue
	green: $green
	graylight: $graylight
	orange: $orange
	purple: $purple
	red: $red
	yellow: $yellow
}
