/*!**
 * Global:
 * Глобальные стили.
 *
 */

body
    background darken($white, 5%)
    min-width 320px
    font-family $site_font_family, Arial, sans-serif
    font-size $site_font_size
    line-height 1.4
    color $black

a
    text-decoration none
    color $blue

    &:hover
    &:focus
        color lighten(@color, 40%)

    &:active
        color $red



/*!*
 * Heading:
 * `.g-heading` —  Базовый класс.
 *
 * `.g-heading_level_{1-6}` — Задает стиль уровня заголовка.
 *
 * `.g-heading_first` — Убирает верхний отступ заголовка.
 *
 *
 *		@example.padded
 *		.g-heading.g-heading_level_1.g-heading_first Заголовок 1 уровня без верхнего отступа
 *		.g-heading.g-heading_level_1 Заголовок 1 уровня
 *		.g-heading.g-heading_level_2 Заголовок 2 уровня
 *		.g-heading.g-heading_level_3 Заголовок 3 уровня
 *		.g-heading.g-heading_level_4 Заголовок 4 уровня
 *		.g-heading.g-heading_level_5 Заголовок 5 уровня
 *		.g-heading.g-heading_level_6 Заголовок 6 уровня
 *
 */

.g-heading
    font-weight 700
    line-height 1.1

.g-heading_level_1
.g-heading_level_2
.g-heading_level_3
    padding-top 20px
    padding-bottom 15px

.g-heading_level_4
.g-heading_level_5
.g-heading_level_6
    padding-top 15px
    padding-bottom 10px

.g-heading_level_1
    font-size $site_font_size + 12

.g-heading_level_2
    font-size $site_font_size + 10

.g-heading_level_3
    font-size $site_font_size + 8

.g-heading_level_4
    font-size $site_font_size + 6

.g-heading_level_5
    font-size $site_font_size + 4

.g-heading_level_6
    font-size $site_font_size + 2

.g-heading_first
    padding-top 0



/*!*
 * Float:
 * `.g-cf` —  Сбрасывает обтекание блоков.
 *
 * `g-float_{right|left}` —  Делает элемент обтекаемым.
 *
 * `g-float_{right|left}_img` —  Модификатор добавляет отступы обтекаемому элементу.
 *
 *
 *		@example.padded
 *		.g-float_right Обтекание элемета слева
 *		.g-float_left Обтекание элемета справа
 *		.g-cf
 *		img.g-float_left.g-float_left_img(src="http://fakeimg.pl/250x300/282828/eae0d0/?text=left")
 *		img.g-float_right.g-float_right_img(src="http://fakeimg.pl/250x300/282828/eae0d0/?text=right")
 *		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
 *
 */

.g-
    &cf
        clearfix()

    &float
        &_left
            float left !important

            &_img
                margin 5px 10px 10px 0

        &_right
            float right !important

            &_img
                margin 5px 0 10px 10px


/*!*
 * Hide/Show:
 * `.g-hide` —  Прячет элемент.
 *
 * `.g-show` —  Показывает элемент.
 *
 *
 *		@example.padded
 *		.g-hide(style="display:block") Этот блок не видно
 *		.g-show(style="display:none") Этот блок видно
 *
 */

.g-
    &hide
        display none !important

    &show
        display block !important


/*!*
 * Align:
 * `.g-align_{left|center|right}` —  Задает выравнивание текста.
 *
 *
 *		@example.padded
 *		.g-align_left Левая выключка текста
 *		.g-align_center Центральная выключка текста
 *		.g-align_right Правая выключка текста
 *
 */

.g-align
    &_left
        text-align left !important

    &_center
        text-align center !important

    &_right
        text-align right !important


/*!*
 * Font:
 * `.g-font_{bold|italic|big|small}` —  Задает форматирование текста.
 *
 *
 *		@example.padded
 *		.g-font_bold Жирный текст
 *		.g-font_italic Курсивный текст
 *		.g-font_big Большой текст
 *		.g-font_small Маленький текст
 *
 */

.g-font
    &_bold
        font-weight 700 !important

    &_italic
        font-style italic !important

    &_big
        font-size 120% !important

    &_small
            font-size 80% !important


/*!*
 * Color:
 * `.g-color_{$color_text}` —  Задает цвет текста.
 *
 *
 *		@example.padded
 *		.g-color_red Красный текст
 *		.g-color_green Зеленый текст
 *		.g-color_graylight Серый текст
 *
 */

.g-color
    for name, color in $color_text
        &_{name}
            color color
