
/**
 * Сетка
 *
 */

.container
    width $site_width_lg
    margin-right auto
    margin-left auto

    clearfix()


.row
    display flex
    flex-wrap wrap

    clearfix()

    & .row
        margin-right -15px
        margin-left -15px


.col
    padding-right 15px
    padding-left 15px


$grid()
