
/**
 * Grid
 *
 * $grid()                  => .col{...}.w1-2{width:50%;}
 * $grid('_postfix')        => .col{...}.w1-4_postfix{width:25%;}
 *
 */

$grid(postfix = '')
    .w0-0{postfix}
        flex 1

    .w1-1{postfix}
        width 100%

    for i in 1...12
        for j in i+1..12
            .w{i}-{j}{postfix}
                width (i/j) * 100%



/*
 * Order
 *
 * $order()                 => .o1{order:1;}
 * $order('_postfix')       => .o2_postfix{order:2;}
 *
 */

$order(postfix = '')
    for i in 1..12
        .o{i}{postfix}
            order i



/**
 * Offset
 *
 * offset 1 of 10           => margin-left:10%;
 * $offset()                => .os1-2{margin-left:50%;}
 * $offset('_postfix')      => .os1-4{margin-left:25%;}
 *
 */

offset(arg...)
    margin-left (arg[0]/arg[2])*100%

$offset(postfix = '')
    .os0-0{postfix}
        margin-left 0

    for i in 1...12
        for j in i+1..12
            .os{i}-{j}{postfix}
                margin-left (i/j) * 100%



/**
 * Gradient
 *
 * gradient(180deg, red, green)
 * gradient(270deg, red, green 50%, blue)
 *
 */

gradient($direction, $colors...)
    background $colors[0][0]
    background linear-gradient($direction, unquote(join(', ', $colors)))



/**
 * Reset float
 *
 * clearfix()
 *
 */

clearfix()
    &::before
    &::after
        display block
        content ''

    &::after
        clear both



/**
 * Position
 *
 * static()                       => position:static;
 * absolute(top)                  => position:absolute;top:0;
 * relative top                   => position:relative;top:0;
 * fixed top 10px left right      => position:fixed;top:10px;left:0;right:0;
 *
 */

-pos(type, args)
    position: unquote(type)
    $direction = top right bottom left
    for arg, i in args
        if arg in $direction
            {arg}: (args[i + 1] is a 'unit') ? args[i + 1] : 0

static()
    -pos('static', arguments)
relative()
    -pos('relative', arguments)
absolute()
    -pos('absolute', arguments)
fixed()
    -pos('fixed', arguments)


/**
 * Size
 *
 * size 10px               => width:10px; height:10px
 * size 10px 15px          => width:10px; height:15px
 *
 */

size(arg...)
    if arg && length(arg) == 1
        width arg[0]
        height arg[0]

    else if length(arg) == 2
        width arg[0]
        height arg[1]



/**
 * Border-radius
 *
 * border-radius()            => border-radius:3px
 * border-radius 50%          => border-radius:50%
 * border-radius 0 5px        => border-radius:0 5px
 *
 */

border-radius(arg...)
    if arg || arg == 0
        border-radius arg

    else if $site_border-radius
        border-radius $site_border-radius



/**
 * Overflow
 *
 * overflow ellipsis
 *
 */

overflow(key)
    if key == ellipsis
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
    else
        overflow key
