/*
*
* Глобальные переменные.
*
*/

$site_font_family = 'Roboto' // Шрифт сайта.
$site_font_size = 16px // Размер шрифта сайта
$site_border-radius = 3px // Закругление углов (кнопки, сообщения и т.п.). Отключить = 0.

/* Ширина сайта */

$site_width_lg = 1240px // Обычный десктоп. Фактически: 1210px
$site_width_md = 980px 			// Маленький десктоп. Фактически: 960px
$site_width_sm = 750px 			// Планшеты. Фактически: 740px
$site_width_xs = 100% 			// Смартфоны и портретные планшеты.


/* Точка перехода */

$site_media_md = 1260px 		// C Обычного на Маленький десктоп.
$site_media_sm = 1000px 		// C Маленького десктопа на Планшеты(альбомная).
$site_media_xs = 768px 			// C Планшетов(альбомная) на Смартфоны и Планшеты(портретная).


/* Медиа условия */

$media_for_lg-and-md = '(min-width $site_media_sm)'
$media_not_lg-and-md = '(max-width $site_media_sm - 1)'

$media_for_lg = '(min-width $site_media_md)'
$media_not_lg = '(max-width $site_media_md - 1)'

$media_for_md = '(min-width $site_media_sm) and (max-width $site_media_md - 1)'
$media_not_md = '(max-width $site_media_sm - 1), (min-width $site_media_md)'

$media_for_sm-and-xs = '(max-width $site_media_sm - 1)'
$media_not_sm-and-xs = '(min-width $site_media_sm)'

$media_for_sm = '(min-width $site_media_xs) and (max-width $site_media_sm - 1)'
$media_not_sm = '(max-width $site_media_xs - 1), (min-width $site_media_sm)'

$media_for_xs = '(max-width $site_media_xs - 1)'
$media_not_xs = '(min-width $site_media_xs)'

@media $media_not_md
	.js-light-gallery
		background red
