/*
*
* Подвал сайта.
*
* .b-footer							- Класс обертка всего блока.
*
* .b-footer-menu						- Блок меню.
* .b-footer-menu__item					- Пункт меню.
* .b-footer-menu__item_active			- Активный пункт меню
* .b-footer-menu__link					- Ссылка меню.
*
*/


.b-footer
.b-footer__logo-img
.b-footer-menu
.b-footer-menu__item
.b-footer-menu__item_active
.b-footer-menu__link
	background $white
