@font-face
    font-weight 400
    font-style normal
    font-family 'PT Sans'
    src local('PT Sans'), local('PTSans-Regular'),
    url('./font-pt-sans_normal.woff') format('woff')

@font-face
    font-weight 400
    font-style italic
    font-family 'PT Sans'
    src local('PT Sans Italic'), local('PTSans-Italic'),
    url('./font-pt-sans_italic.woff') format('woff')

@font-face
    font-weight 700
    font-style normal
    font-family 'PT Sans'
    src local('PT Sans Bold'), local('PTSans-Bold'),
    url('./font-pt-sans_bold.woff') format('woff')
