@font-face
    font-weight 400
    font-style normal
    font-family 'Roboto'
    src local('Roboto Regular'), local('Roboto-Regular'),
    url('./font-roboto_normal.woff') format('woff')

@font-face
    font-weight 400
    font-style italic
    font-family 'Roboto'
    src local('Roboto Italic'), local('Roboto-Italic'),
    url('./font-roboto_italic.woff') format('woff')

@font-face
    font-weight 700
    font-style normal
    font-family 'Roboto'
    src local('Roboto Bold'), local('Roboto-Bold'),
    url('./font-roboto_bold.woff') format('woff')
