/*
*
* Глобальные стили.
*
*/

body
	background darken($white, 5%)
	min-width 320px
	font-family $site_font_family, Arial, sans-serif
	font-size $site_font_size
	line-height 1.4
	color $black

a
	text-decoration none
	color $blue

	&:hover
	&:focus
		color lighten(@color,40%)

	&:active
		color $red


.b-heading
	font-weight 700
	line-height 1.1

.b-heading_level_1
.b-heading_level_2
.b-heading_level_3
	margin-top 20px
	margin-bottom 15px

.b-heading_level_4
.b-heading_level_5
.b-heading_level_6
	margin-top 15px
	margin-bottom 10px

.b-heading_level_1
	font-size $site_font_size + 12

.b-heading_level_2
	font-size $site_font_size + 10

.b-heading_level_3
	font-size $site_font_size + 8

.b-heading_level_4
	font-size $site_font_size + 6

.b-heading_level_5
	font-size $site_font_size + 4

.b-heading_level_6
	font-size $site_font_size + 2

.b-heading_first
	margin-top 0


.g-
	&cf
		clearfix()

	&text-space
		& p
			padding-bottom 15px

		& ul
		& ol
			padding-left 20px
			padding-bottom 15px


	&float
		&_right
			float right !important

		&_left
			float left !important


	&hide
		display none !important

	&show
		display block !important


	&align
		&_left
			text-align left !important

		&_right
			text-align right !important

		&_center
			text-align center !important


	&font
		&_bold
			font-weight 700 !important

		&_italic
			font-style italic !important

		&_big
			font-size 120% !important

		&_small
			font-size 80% !important

	&color
		for name, color in $colors_text
			&_{name}
				color color
