/*
 *
 * Сетка.
 *
 */

.container
	width $site_width
	margin-right auto
	margin-left auto

	clearfix()


.row
	display flex
	flex-wrap wrap

	clearfix()

	& .row
		margin-right -15px // if not support vw
		margin-left -15px // if not support vw
		margin-right -1vw
		margin-left -1vw


.col
	float left // if not support flexbox
	padding-right 15px // if not support vw
	padding-left 15px // if not support vw
	padding-right 1vw
	padding-left 1vw


$grid()


td.col
th.col
	display table-cell
	float none
