/*
*
* Сетка.
*
*/

.container
	width $site-width
	margin-right auto
	margin-left auto

	clearfix()

	if $responsive
		@media $media-for_desktop
			width $site-width_md

		@media $media-for_tablet
			width $site-width_sm

		@media $media-for_mobile
			width $site-width_xs


.row
	display flex
	flex-wrap wrap

	clearfix()

	& .row
		margin-right -1vw
		margin-left -1vw


.col
	float left // if not support flexbox
	padding-right 1vw
	padding-left 1vw
	width 100%

$grid()

if $responsive
	@media $media-for_desktop
		$grid("_md")

	@media $media-for_tablet
		$grid("_sm")

	@media $media-for_mobile
		$grid("_xs")

td.col
th.col
	display table-cell
	float none
