/*
*
* Сетка.
*
*/

.container
	width $site_width
	margin-right auto
	margin-left auto

	clearfix()

	if $site_responsive
		@media $media_for_desktop
			width $site_width_md

		@media $media_for_tablet
			width $site_width_sm

		@media $media_for_mobile
			width $site_width_xs


.row
	display flex
	flex-wrap wrap

	clearfix()

	& .row
		margin-right -15px // if not support vw
		margin-left -15px // if not support vw
		margin-right -1vw
		margin-left -1vw


.col
	float left // if not support flexbox
	margin-right 15px // if not support vw
	margin-left 15px // if not support vw
	padding-right 1vw
	padding-left 1vw

$grid()

if $site_responsive
	@media $media_for_desktop
		$grid("_md")

	@media $media_for_tablet
		$grid("_sm")

	@media $media_for_mobile
		$grid("_xs")

td.col
th.col
	display table-cell
	float none
