/*
*
* Глобальные переменные.
*
*/

$site_font_family = "Roboto"	// Шрифт сайта.
$site_font_size = 16px 		// Размер шрифта сайта
$site_border-radius = 3px 		// Закругление углов (кнопки, сообщения и т.п.). Отключить = 0.

/* Ширина сайта */

$site_width_lg = 1240px 			// Обычный десктоп. Фактически: 1210px
$site_width_md = 980px 			// Маленький десктоп. Фактически: 960px
$site_width_sm = 750px 			// Планшеты. Фактически: 740px
$site_width_xs = 100% 			// Смартфоны и портретные планшеты.


/* Точка перехода */

$site_media_md = 1260px 		// C Обычного на Маленький десктоп.
$site_media_sm = 1000px 		// C Маленького десктопа на Планшеты(альбомная).
$site_media_xs = 768px 			// C Планшетов(альбомная) на Смартфоны и Планшеты(портретная).


/* Медиа условия */

$media_for_lg-and-md = "(min-width: $site_media_sm)"

$media_for_lg = "(min-width: $site_media_md)"
$media_not_lg = "(max-width: $site_media_md - 1)"
$media_for_md = "(min-width: $site_media_sm) and (max-width: $site_media_md - 1)"

$media_for_sm-and-xs = "(max-width: $site_media_sm - 1)"

$media_for_sm = "(min-width: $site_media_xs) and (max-width: $site_media_sm - 1)"
$media_for_xs = "(max-width: $site_media_xs - 1)"
$media_not_xs = "(min-width: $site_media_xs)"


/* Набор цветов */

$black = #000
$blue = #1D8BDF
$green = #66bb6a
$gray = #939DA3
$graylight = lighten($gray, 20%)
$orange = #F27935
$purple = #8E44AD
$red = #E84C3D
$white = #fff
$yellow = #F1C40F


/* Хэш цветов для генерации цветов кнопок, текста и др. */

$colors_text = {
	black: $black,
	blue: $blue,
	green: $green,
	graylight: $graylight,
	orange: $orange,
	purple: $purple,
	red: $red,
	yellow: $yellow
}

$colors_alert = {
	black: $black,
	blue: $blue,
	green: $green,
	graylight: $graylight,
	orange: $orange,
	purple: $purple,
	red: $red,
	yellow: $yellow
}

$colors_btn = {
	black: $black,
	blue: $blue,
	green: $green,
	graylight: $graylight,
	orange: $orange,
	purple: $purple,
	red: $red,
	yellow: $yellow
}
