/*
*
* Глобальные переменные.
*
*/

$site_font_family = "Roboto"	// Шрифт сайта.
$site_font_size = .16rem 		// Размер шрифта сайта
$site_border-radius = 3px 		// Закругление углов (кнопки, сообщения и т.п.). Отключить = 0.

/* Ширина сайта */

$site_width = 1240px 			// Обычный десктоп. Фактически: 1210px
$site_width_md = 980px 			// Маленький десктоп. Фактически: 960px
$site_width_sm = 750px 			// Планшеты. Фактически: 740px
$site_width_xs = 100% 			// Смартфоны и портретные планшеты.


/* Точка перехода */

$site_media_md = 1260px 		// C Обычного на Маленький десктоп.
$site_media_sm = 1000px 		// C Маленького десктопа на Планшеты(альбомная).
$site_media_xs = 768px 			// C Планшетов(альбомная) на Смартфоны и Планшеты(портретная).


/* Медиа условия */

$media_for_desktop = "(min-width: $site_media_sm) and (max-width: $site_media_md)"
$media_for_tablet = "(min-width: $site_media_xs) and (max-width: $site_media_sm - 1)"
$media_for_mobile = "(max-width: $site_media_xs - 1)"
$media_not_mobile = "(min-width: $site_media_xs)"
$media_for_tablet-and-mobile = "(max-width: $site_media_sm - 1)"


/* Набор цветов */

$white = #fff
$grey = #939DA3
$black = #000
$blue = #1D8BDF
$orange = #F27935
$purple = #8E44AD
$red = #E84C3D
$yellow = #F1C40F
$green = #66bb6a

/* Хэш цветов для генерации цветов кнопок, текста и др. */

$colors = {
	lightgrey: lighten($grey,20%),
	black: $black,
	red: $red,
	orange: $orange,
	yellow: $yellow,
	green: $green,
	blue: $blue,
	purple: $purple
}
